.container{
	width: 700px;
	margin: 0 auto;
}
.coder{
	border-color: 10px solid #666;
	margin: 0 auto;
}
h1{
	text-align: center
}
p{
	text-align: center;
}
.habilidades{
	background-color: grey;
	padding: 20px 10px;
	margin: 10px;
}
.ImagenesPortafolio{
	width: 32%;
	height: auto;
}